@model IEnumerable<Lab_7.Models.Student>

<h2>Student List</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Campus</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.ID</td>
                <td>@student.Name</td>
                <td>@student.Address</td>
                <td>@student.Campus.Name</td>
                <td>
                    @Html.ActionLink("View", "Details", new { id = student.ID }) |
                    @Html.ActionLink("Edit", "Edit", new { id = student.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = student.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Add New Student", "Create")
